@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,100;1,200;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;1,100;1,200;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

[x-cloak] {
    display: none;
}

.vs--searchable .vs__dropdown-toggle {
    min-height: 2.6rem;
}

.vs__search::placeholder {
    color: #b1b6bb !important;
}

.filepond--drop-label {
    background: #f9f9f9;
    border-radius: 0.5rem;
}

.filepond--credits {
    display: none;
}

.p-button {
    background: var(--primary) !important;
}

:root {
    --primary-50: #023f86;
    --primary-100: yellow;
    --primary-200: #0071ce;

    --primary: var(--primary-50);
    --primary-hover: var(--primary-50);
    --primary-active-color: var(--primary-50);

    --primary-highlight-opacity: 0.1;
    --primary-highlight-inverse: var(--primary-50);
    --primary-highlight-hover-opacity: 0.2;
}

.fc .fc-toolbar.fc-header-toolbar {
    padding: 0.5rem;
}

.fc .fc-button-primary {
    background: var(--primary-200);
    border-color: var(--primary-200);
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
    background: var(--primary-50);
    border-color: var(--primary-50);
}

.vs__selected {
    background-color: #cccccc1a !important;
}

.fc-nonbusiness {
    background-color: #5a5a5a50;
    pointer-events: none;
    cursor: not-allowed;
}

.vs__selected {
    @apply dark:bg-transparent dark:text-white !important;
}

.vs__deselect {
    @apply dark:fill-white !important;
}

.vs__clear,
.vs__open-indicator {
    @apply dark:bg-transparent dark:fill-white !important;
}

.vs__dropdown-menu {
    @apply dark:bg-gray-700 dark:border-gray-700 dark:text-white !important;
}

.dp__input {
    @apply dark:bg-gray-700 dark:border-gray-700 dark:text-white !important;
}

.fc-direction-ltr .fc-list-day-text,
.fc-direction-rtl .fc-list-day-side-text,
.fc-direction-ltr .fc-list-day-side-text,
.fc-direction-rtl .fc-list-day-text {
    color: #000;
}

.google-visualization-orgchart-node-medium {
    @apply dark:bg-gray-700 dark:border-gray-700 dark:text-black !important;
}

.fc-direction-ltr .fc-timegrid-col-events {
    width: 100%;
}
