@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.vs--searchable .vs__dropdown-toggle {
    min-height: 2.6rem;
}

.vs__search::placeholder {
    color: #b1b6bb !important;
}

.filepond--drop-label {
    background: #f9f9f9;
    border-radius: 0.5rem;
}

.filepond--credits {
    display: none;
}

.p-button {
    background: var(--primary) !important;
}

:root {
    --primary-50: #023f86;
    --primary-100: yellow;
    --primary-200: #0071ce;

    --primary: var(--primary-50);
    --primary-hover: var(--primary-50);
    --primary-active-color: var(--primary-50);

    --primary-highlight-opacity: 0.1;
    --primary-highlight-inverse: var(--primary-50);
    --primary-highlight-hover-opacity: 0.2;
}
